html {
   box-sizing: border-box;
   scroll-behavior: smooth;
   cursor: url('../img/cursor.svg'), auto;
   scroll-behavior: smooth;
}

*, 
*::after, 
*::before {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

a:hover {
   cursor: url('../img/cursor-hover.svg'), auto;
}

body {
   font-family: 'Arial', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: #4c4c4c;
}

.container {
   max-width: 1280px;
   padding: 0 40px;
   margin: 0 auto;
}

.hero {
   background: url(../img/hero-bg.jpg) center/ cover no-repeat;
}

.title-h2 {
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #545454;
}

.btn-primary {
   display: inline-block;
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 17px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #292929;

   padding: 15px 45px;
   background-color: #f1cdb3;
   border-radius: 100px;
}

.btn-primary:hover,
.in-addition__link:hover {
   background-color: #fddcc4;
   transition: all .5s;
   cursor: url('../img/cursor-hover.svg'), auto;
}

.btn-secondary {
   display: inline-block;
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 17px;
   line-height: 110%;
   letter-spacing: 0.06em;
   color: #292929;

   padding: 15px 42px;
   border: 2px solid #f1cdb3;
   border-radius: 100px;
   background: transparent;
}

/* HEADER */
.header {
   padding-top: 30px;
   margin-bottom: 90px;
}

.header.white-theme {
   color: #545454;
   padding: 30px 0;
   margin: 0;
}

.header__nav.white-theme {
   margin-top: -7px;
}

.header__logo-title.white-theme,
.header__list.white-theme {
   color: #545454;
}

.header__logo-subtitle.white-theme,
.header__list-link--active.white-theme,
.header__list-link.white-theme:hover {
   color: #292929;
}

.header__list-link--active {
   pointer-events: none;
}

.header__inner {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo-title {
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 32px;
   line-height: 110%;
   letter-spacing: 0.06em;
   color: #f1cdb3;
   margin-bottom: 7px;
}

.header__logo-subtitle {
   margin: 0;
   font-size: 13px;
   letter-spacing: 0.1em;
   color: #fff;
   margin-left: 4px;
}

.header__list {
   display: flex;
   gap: 35px;
   color: #cdcdcd;
}

.header__list-link:hover {
   color: #fafafa;
   transition: all .5s;
   cursor: url('../img/cursor-hover.svg'), auto;
}

.header__list-link--active {
   color: #fafafa;
   text-decoration: underline;
   text-decoration-color: #f1cdb3;
   text-underline-offset: 2px;
   text-underline-position: under;
   text-decoration-thickness: 3px;
}

.header__burger-menu {
   display: none;
   flex-direction: column;
   gap: 10px;
   background: transparent;
   border: none;
}

.header__burger-menu-item {
   width: 30px;
   height: 2px;
   background-color: #f1cdb3;
}

.header__burger-menu-item--black {
   background-color: #000;
}


/* NOT-ONLY */
.not-only__inner {
   display: flex;
   justify-content: space-between; 
}

.not-only__descr {
   margin-top: 163px;
   max-width: 460px;
}

.not-only__title {
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 44px;
   line-height: 130%;
   color: #fff;
   margin-bottom: 42px;
}

.not-only__text {
   color: #cdcdcd;
   margin-bottom: 42px;
}

.not-only__img {
   width: 698px;
   height: 728px;
}

/* ABOUT */
.about {
   padding: 80px 0 100px;
   background: #fff;
}

.about__inner {
   display: flex;
   gap: 120px;
   justify-content: center;
}

.about__descr {
   max-width: 430px;
   padding: 14px 0;
}

.about__img {
   width: 300px;
   height: 408px;
}

.about__title,
.about__text:first-of-type {
   margin-bottom: 25px;
}

/* OUR_FRIENDS */
.our-friends {
   padding: 80px 0 100px;
   background-color: #f6f6f6;
   text-align: center;
}

.our-friends__title {
   margin-bottom: 60px;
}

.our-friends__inner{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* SLIDER */
.slider__btn {
   border-radius: 100px;
   border: 2px solid #f1cdb3;
   padding: 23px 19px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   margin-bottom: 60px;
}

.slider__btn:hover {
   background-color: #fddcc4;
   border: 2px solid #fddcc4;
   transition: all .5s;
   cursor: pointer;
   cursor: url('../img/cursor-hover.svg'), auto;
}

.slider__inner {
   display: flex;
   width: 990px;
   justify-content: space-between;
   margin: 0 12px 58px;
}

.slider__card {
   width: 270px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
   background-color: #fafafa;
   border-radius: 9px;
   padding-bottom: 30px;
   transition: all .5s;
}

.slider__card:hover  {
   background-color: #fff;
   filter: drop-shadow(0 2px 35px rgba(13, 13, 13, 0.04));
   cursor: pointer;
   cursor: url('../img/cursor-hover.svg'), auto;
}

.slider__card:hover .btn-secondary {
   background-color: #fddcc4;
   transition: all .5s;
   border: 2px solid #fddcc4;
   cursor: url('../img/cursor-hover.svg'), auto;
}

.slider__card-img {
   max-width: 270px;
}

.slider__card-title {
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   letter-spacing: 0.06em;
   text-align: center;
   color: #545454;
}

.slider__card-btn {
   width: 187px;
   height: 52px;
}

.slider__buttons {
   display: none;
   gap: 80px;
}

/* HELP */
.help {
   text-align: center;
   padding: 80px 0 100px;
   color: #545454;
}

.help__title {
   margin-bottom: 60px;
}

.help__list {
   display: flex;
   flex-wrap: wrap;
   gap: 58px 120px;
   justify-content: center;
   width: 100%;
}

.help__img {
   margin-bottom: 20px;
}

.help__item-title {
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   text-align: center;
}

/* IN ADDITION */
.in-addition {
   padding: 80px 0 100px;
   background-color: #f6f6f6;
   color: #545454;
}

.in-addition__inner {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.in-addition__img {
   width: 505px;
   height: 261px;
}

.in-addition__descr {
   max-width: 380px;
}

.in-addition__title {
   margin-bottom: 20px;
}

.in-addition__subtitle {
   font-family: 'Georgia';
   font-size: 15px;
   line-height: 110%;
   letter-spacing: 0.06em;
   margin-bottom: 20px;
}

.in-addition__link {
   max-width: 349px;
   display: flex;
   gap: 15px;
   padding: 10px 14px;
   background-color: #f1cdb3;
   border-radius: 9px;
   margin-bottom: 20px;
}

.in-addition__link-text {
   font-family: 'Georgia';
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.in-addition__text {
   font-style: italic;
   font-weight: 400;
   font-size: 12px;
   line-height: 150%;
   color: #b2b2b2;
}

/* FOOTER */
.footer {
   background: url(../img/footer-bg.jpg) center/ cover no-repeat;
   padding: 40px 0 0;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.footer__blocks {
   display: flex;
   gap: 160px;
}

.footer_block {
   margin-top: 16px;
   color: #f1cdb3;
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
}

.footer_block:last-of-type {
   padding-left: -5px;
}

.footer_block:last-of-type .footer__title,
.footer_block:last-of-type .footer__link:first-of-type {
   margin-bottom: 33px;
}

.footer__title {
   color: #fff;
   margin-bottom: 40px;
}

.footer__link {
   display: flex;
   gap: 20px;
   align-items: center;
   margin-bottom: 40px;
}

.footer__link:last-child {
   margin-bottom: 0;
}

.footer__link:hover {
   color: #fff;
   transition: all .5s;
 }
 
 .footer__link:hover svg path {
   fill: #fff;
   transition: all .5s;
 }
 
 .footer__link:hover .footer__link-text {
   color: #fff;
   transition: all .5s;
 }

 /*** PETS PAGE ***/
 .main__pets {
   background-color: #f6f6f6;
   padding: 80px 0 100px;
 }

 .pets__title {
   text-align: center;
   margin-bottom: 56px;
 }

 .pets__cards {
   display: flex;
   flex-wrap: wrap;
   gap: 30px 40px;
   margin-bottom: 60px;
 }
 
 .navigation {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
 }

 .navigation__button {
   font-family: 'Georgia';
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #292929;
   text-align: center;
   cursor: url('../img/cursor-hover.svg'), auto;

   width: 52px;
   height: 52px;
   background-color: transparent;
   border: 2px solid #f1cdb3;
   border-radius: 100px;
 }

 .navigation__button--inactive {
   border: 2px solid #cdcdcd;
   color:  #cdcdcd;
   pointer-events: none;
}

.navigation__button--active {
   background-color: #f1cdb3;
}

.navigation__button:hover {
   background-color: #f1cdb3;
   border: transparent;
   transition: ease-in-out .3s;
}

@media (max-width: 1275px) {
   .pets__cards {
      justify-content: center;
   }
}

@media (max-width: 1150px) {
   .header {
      margin-bottom: 0;
   }
   .not-only__inner {
      flex-direction: column;
      align-items: center;
   }

   .not-only__descr {
      margin: 60px 0 100px;
   }
   .not-only__img {
      width: 569px; 
      height: auto;
      align-self: end;
   }

   .not-only__descr {
     max-width: 100%;
   }
   
   .not-only__btn {
      width: 208px;
      height: 52px;
      display: block;
      margin: 0 auto;
   }
   .footer {
      padding-top: 30px;
   }
   .footer__inner {
      flex-direction: column;
      align-items: center;
   }
   .footer__blocks {
      margin: 0 34px 65px;
   }
}

@media (max-width: 1055px) {
   .slider__card:last-child {
      display: none;
   }
   .help__item {
      display: block;
      width: 170px;
   }
   .in-addition__inner {
      flex-direction: column-reverse;
      align-items: center;
      gap: 60px;
   }
   .footer__blocks {
      gap: 80px;
   }
   .footer_block {
      margin-top: 0;
   }
}

@media (max-width: 970px) {
   .pets__cards {
      justify-content: center;
   }
}

@media (max-width: 810px) {
   .about__inner {
      flex-direction: column-reverse;
      align-items: center;
      gap: 80px;
   }
   .about__descr {
      padding: 0;
   }
   .pets__title {
      margin-bottom: 30px;
   }
   .main__pets {
      padding: 60px 0 70px;
   }
   .pets__cards {
      margin-bottom: 40px;
   }
}

@media (max-width: 768px) {
   .container {
      padding: 0 20px;
   }
   .not-only__descr {
      max-width: 460px;
   }
   .help__list {
      gap: 59px 55px;
   }
   .footer {
      padding: 30px 0 0;
   }
   .footer__blocks {
      gap: 60px;
   }
   .slider__card:nth-child(7) {
      display: none;
   }
}

@media (max-width: 740px) {
   .header__nav {
      display: none;
   }
   .header__burger-menu {
      display: flex;
   }
   .slider__inner {
     justify-content: center;
   }
   .slider__card:nth-child(2) {
      display: none;
   }
   .footer__blocks {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      margin-left: 0;
      margin-right: 0;
   }
   .footer__img {
      width: 260px;
      height: auto;
   }
   .footer_block:last-of-type .footer__title, 
   .footer_block:last-of-type .footer__link:first-of-type {
      margin-bottom: 40px;
   }
}

@media (max-width: 635px) {
   .not-only__img {
      width: 260px; 
      height: auto;
   }
   .in-addition__img {
      width: 260px;
      height: auto;
   }
   .slider__card:nth-child(4),
   .slider__card:nth-child(5),
   .slider__card:nth-child(6),
   .slider__card:nth-child(7) {
      display: none;
   }
   .slider__card:nth-child(2) {
      display: flex;
   }
}

@media(max-width: 450px) {
   .our-friends__inner {
      flex-direction: column;
   }
   .slider__inner {
      max-width: 320px;
      margin-bottom: 20px;
   }
   .slider__btn {
      display: none;
   }
   .slider__buttons{
      display: flex;
      margin-bottom: 42px;
   }
   .slider__buttons-item {
      display: flex;
      margin-bottom: 0;
   }
   .our-friends__title,
   .help__title {
      margin-bottom: 42px;
   }
   .help {
      padding: 42px 0;
   }
   .help__img {
      width: 50px;
      height: 50px;
   }
   .help__item-title {
      font-size: 15px;
      line-height: 110%;
   }
   .help__list {
      gap: 30px;
   }
   .help__item {
      max-width: 130px;
      height: 87px;
   }
   .in-addition {
      padding: 42px 0;
   }
   .footer__blocks {
      margin-bottom: 40px;
   }
   .pets__cards {
      margin-bottom: 42px;
   }
}

@media (max-width: 400px) {
   .container {
      padding: 0 10px;
   }
   .not-only__descr {
      max-width: 300px;
      margin-bottom: 105px;
      text-align: center;
   }
   .not-only__title,
   .title-h2 {
      text-align: center;
      font-size: 25px;
      letter-spacing: 0.06em;
   }
   .about,
   .our-friends {
      padding: 39px 0;
   }
   .about__inner {
      gap: 42px;
   }
   .about__descr {
      text-align: justify;
   }
   .about__text:first-of-type {
      margin-bottom: 20px;
   }
   .in-addition__descr {
      text-align: center;
   }
   .in-addition__text {
      text-align: justify;
   }
   .in-addition__subtitle {
      letter-spacing: normal;
   }
   .in-addition__inner {
      gap: 50px;
   }
   .footer__link:last-child {
      margin-bottom: 0;
   }
   .main__pets {
      padding: 42px 0;
   }
   .pets__title {
      margin-bottom: 42px;
   }
   .navigation {
      gap: 10px;
   }
}

@media (max-width: 375px) {
   .in-addition__link {
      width: 281px;
      height: 43px;
      gap: 15px;
      margin: 0 auto 20px;
   }
   .in-addition__link-text {
      font-size: 15px;
   }
   .in-addition__text {
      width: 280px; 
   }
}

